<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Airlines Data</title>

  </head>
  <body>

    <h1>Airline Information & Statistics</h1>
    
    <img src="http://www.traveller.com.au/content/dam/images/g/y/u/7/r/q/image.related.articleLeadwide.620x349.h0e7ha.png/1517799673950.jpg" alt="Flights" width="50%">

    <h3>Let's Analyze And View</h3>
      <ul>
        <li><h4>Where are the airports : <a href="Airportlogicindex">Airport Location Details</a></h4></li>
        <li><h4>What are the airline route maps : <a href="curvedpathindex">Airport Routes</a></h4></li>
        <li><h4>Which airline has flown max #of flights over time : <a href="barracechartindex">Airlines Max #of flight </a></h4></li>
      </ul>


  </body>
</html>
