<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Airlines Data</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>

    <ul>
		<h1>Airline Information & Statistics</h1>
    
		<img src="http://www.traveller.com.au/content/dam/images/g/y/u/7/r/q/image.related.articleLeadwide.620x349.h0e7ha.png/1517799673950.jpg" alt="Flights" height = "400" width = "900">

		<h3>Let's Analyze And View</h3>
			<li><b>Where are the airports ? </b><br>
			The result shows location of airports for each state in an aggregated form. User can Zoom in to find the info/details of each individual airport, # of outbound fights</li>
			<li><b>What are the airline route maps? </b><br>
			The result shows routes from one airport to connecting airports along with the origin airport details</li>
			<li><b>Which airline has flown max #of flights over time </b><br>
			The result indicated that Delta Airlines (DL) had flown maximum flights</li> <br>

		<button type="button" class="btn btn-primary" onclick="location.href='Airportlogicindex'">Airport Locations</button>
		<button type="button" class="btn btn-primary" onclick="location.href='curvedpathindex'">Airport Routes</button>
		<button type="button" class="btn btn-primary" onclick="location.href='barracechartindex'">Max # of flights by Airlines</button>
	
	</ul>
	
	<footer align="center">
		<div class="footer">Copyright 2019 &copy; Bharat, Gokul & Ritesh</div>
	</footer>
	
  </body>
</html>